@page "{handler?}/{id?}"
@model RMeets.Pages.CreateBlank

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/largeForm.css" />
    <link rel="stylesheet" href="~/css/createBlank.css" />
    <title>Create blank</title>
  </head>
  <body>
    <div class="wrapper">
      <form method="POST" asp-page-handler="CreateById" asp-route-id="@Model.ProfileId"> 
        <h2>Создать анкету</h2>
        <textarea name="about" placeholder="Обо мне" required></textarea>
        <select id="genderId" name="genderId" required>
          <option value="" disabled selected>Пол</option>
          @{
            var genders = Model.ApplicationContext.Genders.Select(x => x);
            foreach (var gender in genders)
            {
              <option value=@gender.Id>@gender.Name</option>
            }
          }
        </select>
        <select id="targetId" name="targetId" required>
          <option value="" disabled selected>Цель знакомства</option>
          @{
            var targets = Model.ApplicationContext.Targets.Select(x => x);
            foreach (var target in targets)
            {
              <option value=@target.Id>@target.Name</option>
            }
          }
        </select>
        <div>
          <h4>Интересы</h4>
          <select name="interestIds" id="interestIds" required multiple>
            @foreach (var interest in Model.ApplicationContext.Interests.Select(x => x))
            {
              <option value="@interest.Id">@interest.Name</option>
            }
          </select>
        </div>
        <div>
          <h4>Интересные факты</h4>
          <select for="factIds" name="factIds" id="factIds" required multiple>
            @foreach (var fact in Model.ApplicationContext.Facts.Select(x => x))
            {
              <option value="@fact.Id">@fact.Name</option>
            }
          </select>
        </div>
        <input type="submit" value="Создать" />
        @*<a href="home.html">На главную</a>*@
      </form>
      <form method="post">
                         <button asp-page="Profile" asp-route-profileId="@Model.ProfileId">В профиль</button>
                     </form>
    </div>
  </body>
</html>