@page "{handler?}"
@model RMeets.Pages.Profile

@{
    Layout = null;
  var profile = Model.ApplicationContext.Profiles.Find(Model.profileId);
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/largeForm.css" />
    <title>View/Edit profile</title>
  </head>
  <body>
    <div class="wrapper">
      <form method="POST" asp-page-handler="EditProfile" asp-route-profileId="@profile.Id">
        <h2>Ваш профиль</h2>
        <input name="ProfileId" value="@profile?.Id" hidden/>
        <input name="name" placeholder="Имя" value="@profile?.Name" required />
        <input name="age" placeholder="Возраст" value="@profile?.Age" required />
        <input name="contact" placeholder="Ссылка на соцсеть" value="@profile?.SocialMediaLink" required />
        <select name="gender" required>
          <option value="@profile?.Gender.Id" disabled selected>@profile?.Gender.Name</option>
          @{
            var genders = Model.ApplicationContext.Genders.AsQueryable().Select(x => x);
            foreach (var gender in genders)
            {
              <option value=@gender.Id>@gender.Name</option>
            }
          }
        </select>
        <select name="city">
          <option value="@profile?.City.Id" disabled selected>@profile?.City.Name</option>
          @{
            var cities = Model.ApplicationContext.CitySet.AsQueryable().Select(x => x);
            foreach (var city in cities)
            {
              <option value=@city.Id>@city.Name</option>
            }
          }
        </select>
        <input type="submit" value="Изменить"  />
      </form>
      <div>
        <form asp-page="Blanks" asp-route-ProfileId="@profile.Id" asp-route-profileId="@profile.Id">
          <button type="submit">Мои анкеты</button>
        </form>
        <form asp-page="Overview" asp-route-profileId="@profile.Id">
          <button type="submit">Данные по анкетам</button>
        </form>
        <form asp-page="ViewBlank" asp-route-profileId="@profile.Id" asp-route-meeting="true" asp-route-previousBlankId="-1">
          <button type="submit">Знакомства</button>
        </form>
      </div>
    </div>
  </body>
</html>